# Listas - cosas copadas

Ya sabemos bastante sobre listas, pero quiero dejar asentado acá algunas cosas piolas.

Si queremos generar una lista a partir de un string, podemos usar el método **.split(separador)**

In [4]:
linea = 'Pera,100,490.10'
lista_de_linea = linea.split(',')
print(lista_de_linea)

['Pera', '100', '490.10']

In [9]:
nombres = ['Rosita', 'Manuel', 'Luciana']

Se puede insertar.

In [10]:
nombres.insert(0, 'Chuzo')
nombres

['Chuzo', 'Rosita', 'Manuel', 'Luciana']

Se pueden cambiar los elementos

In [11]:
nombres[1] = 'Medusa'
nombres

['Chuzo', 'Medusa', 'Manuel', 'Luciana']

Test de pertenencia

In [13]:
'Chuzo' in nombres

True

También se pueden replicar

In [15]:
nombres * 2

['Chuzo',
 'Medusa',
 'Manuel',
 'Luciana',
 'Chuzo',
 'Medusa',
 'Manuel',
 'Luciana']

Se puede obtener el índice de la primera aparición de algo

In [17]:
nombres.index('Medusa')

1

También se pueden borrar elementos

In [18]:
nombres.remove('Manuel') # Borra Manuel
del nombres[2] # Borra Luciana que está en dicha posición
nombres

['Chuzo', 'Medusa']

Se pueden ordenar con *sort*. Esto modifica directamente la lista

In [21]:
a =  [10, 50, 40, 100, 35, 0]
a.sort()
a

[0, 10, 35, 40, 50, 100]

si queremos que no se modifique, solo que la muestre ordenada:

In [23]:
a =  [10, 50, 40, 100, 35, 0]
print(sorted(a))
a

[0, 10, 35, 40, 50, 100]

[10, 50, 40, 100, 35, 0]